services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z

  streamlit_app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - QDRANT_HOST=qdrant
      - OLLAMA_HOST=host.docker.internal:11434
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    env_file:
      - .env
    volumes:
      - huggingface-cache:/root/.cache/huggingface

volumes:
  huggingface-cache:
